.contactus-banner-image img {
    width: 100%;
}
.contact-subsection{
    background-color: #F7F8F8;
    height: 650px;
    padding-top: 90px;
    padding-bottom: 60px;
    text-align: center;
}
.contact_us {
    padding-top: 130px;
    padding-bottom: 40px;
    background-color: #F7F8F8;
    height: 600px;
}
.contact_details{
    padding-top: 40px;
}
.contact_img img {
    width: 80px;
}
.number {
    color: black;
    font-weight: bold;
    padding-top: 20px;
}
.address_text {
    font-size: 20px;
    color: #696969;
}
.contact-heading{
    font-size: 20px;
}
.contact-sub-heading{
    font-size: 20px;
    color: #9B9B9B;
}
.contact-description{
    padding-top: 30px;
}
@media (min-width: 320px) and (max-width:480px){
    .contact-subsection{
        height: auto;
        padding-top: 25px;
    }
    .contact_img img {
        width: 100px;
    }
    .contact-heading {
        font-size: 16px;
    }
    .contact-sub-heading {
        font-size: 16px;
    }
    .contactus-banner-image{
        padding-top: 65px;
    }
    .contact_img img{
        width: 80px;
    }
    .contact_details{
        padding-top: 0px;
    }
    
}