@import 'bootstrap/dist/css/bootstrap.min.css';
@import "@fontsource/red-hat-display";

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family:  Red Hat Display;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html{
  font-size: 16px
}
*{
  font-family:  Red Hat Display;
}